* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

header {
    text-align: center;
}

h1 {
    color: #e53170;
    margin-top: 45px;
    margin-bottom: 65px;
}

p {
    margin-bottom: 30px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.team .member {
    float: left;
    width: calc(100% / 3 - 30px);
    margin: 25px 15px;
    background-color: #0f0e17;
    color: #fffffe;
}

.member>* {
    float: left;
}

.foto {
    width: 100px;
}

.info {
    width: calc(100% - 100px);
    padding: 16px;
}

.member img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    color: #0093e7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.info>* {
    display: block;
    height: calc(100% / 3);
}